@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

/*************/
/* VARIABLES */
/*************/
:root {
  --primary: #76a068;
  --primary-50-Opa: rgba(118, 160, 104, 0.5);
  --secondary: #f43f17;
  --white: #fff;
  --black: #000;
  --whiteText: #f2f2f2;
  --blackText: rgb(36, 36, 36);
  --greyE6: #e6e6e6;
  --grey54: #545454;
  --greyD9: #d9d9d9;

  --xs: 0.6rem;
  --sm: 0.8rem;
  --md: 1rem;
  --lg: 1.4rem;
  --xl: 1.8rem;
  --xxl: 2rem;

  --fontFamily: 'Fira Sans', sans-serif;
  --borderRadius: 5px;

  --paddingInline: 2rem;
  --paddingBlock: 1rem;

  /* Link Var */
  --linkTextColor: var(--blackText);

  /* Buttons Var */
  --bgBtnPrimaryColor: var(--primary);
  --bgBtnSecondaryColor: var(--secondary);
  --bgBtnWhiteColor: var(--white);
  --fontColorPrimary: var(--primary);
  --fontColorSecondary: var(--secondary);

  /* Input Var */
  --bgInputWhite: var(--white);

  /* Navbar Var */
  --height: auto;
  --bgNav: var(--greyD9);

  /* Breadcrumbs Var */
  --bgBreadcrumbs: var(--greyD9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
}

body > * {
  margin-bottom: 2rem;
}

.row {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--linkTextColor);
}

a:hover {
  text-decoration: underline;
}

svg,
i {
  width: 15px;
  height: 15px;
}

svg.rotate {
  transform: rotate(180deg);
}

/*****************/
/* BUTTONS STYLE */
/*****************/

.btn {
  border: none;
  padding: 7px 15px;
  border-radius: var(--borderRadius);
  background-color: var(--bgBtnNeutralColor);
  cursor: pointer;
  font-family: var(--fontFamily);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.btn > svg,
.btn > i {
  margin-right: 0.3rem;
}

.btn-primary {
  background-color: var(--bgBtnPrimaryColor);
  fill: var(--whiteText) !important;
  color: var(--whiteText);
}

.btn-primary-inverse {
  border: var(--bgBtnPrimaryColor) 1px solid;
  color: var(--fontColorPrimary);
  fill: var(--fontColorPrimary) !important;
}

.btn-primary-inverse:hover,
.btn-primary-inverse:focus {
  background-color: var(--bgBtnPrimaryColor);
  color: var(--whiteText);
  fill: var(--whiteText) !important;
}

.btn-secondary {
  background-color: var(--bgBtnSecondaryColor);
  fill: var(--whiteText) !important;
  color: var(--whiteText);
}

.btn-secondary-inverse {
  border: var(--bgBtnSecondaryColor) 1px solid;
  color: var(--fontColorSecondary);
  fill: var(--fontColorSecondary) !important;
}

.btn-secondary-inverse:hover,
.btn-secondary-inverse:focus {
  background-color: var(--bgBtnSecondaryColor);
  color: var(--whiteText);
  fill: var(--whiteText) !important;
}

.btn-large {
  padding: 7px 25px;
  font-weight: 700;
}

/***************/
/* INPUT STYLE */
/***************/

input[type='text'],
select,
textarea {
  padding: 5px 7px;
  background-color: var(--bgInputWhite);
  border: var(--grey54) 1px solid;
  border-radius: var(--borderRadius);
}

input:read-only {
  background-color: var(--greyD9) !important;
}

label {
  font-size: var(--sm);
  margin-right: 0.5rem;
}

.special-input {
  display: flex;
}

.special-input input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 70%;
}

.special-input input:last-child {
  width: 30%;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  font-size: var(--sm);
}

input[type='checkbox'] + label {
  font-size: var(--xs);
  margin-left: 0.5rem;
}

/**************/
/* NAVIGATION */
/**************/

nav {
  display: flex;
  height: var(--height);
  align-items: center;
  background-color: var(--bgNav);
  padding-inline: var(--paddingInline);
  padding-block: var(--paddingBlock);
}

nav > ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

nav > ul li + li {
  margin-left: 1rem;
}

/***************/
/* BREADCRUMBS */
/***************/

.breadcrumbs {
  background-color: var(--bgBreadcrumbs);
  padding-inline: var(--paddingInline);
  padding-block: var(--paddingBlock);
}

.breadcrumbs > * {
  display: flex;
  list-style: none;
  font-size: var(--sm);
}

.breadcrumbs ul li + li::before {
  content: '/';
  padding-inline: 0.2rem;
}

/***********/
/* MESSAGE */
/***********/

.message {
  padding-inline: var(--paddingInline);
  padding-block: var(--paddingBlock);
  background-color: var(--primary-50-Opa);
  border-left: 7px solid var(--primary);
  font-size: var(--sm);
  transform: translateX(-100%);

  animation-name: rightin;
  animation-duration: 300ms;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

/********/
/* FORM */
/********/

form {
  max-width: 50vw;
}

form > * {
  margin-bottom: 0.5rem;
}

form select,
form input[type='text'],
form .special-input {
  margin-left: auto;
  width: 70%;
}

form button + button {
  margin-left: 1rem;
}

/*********/
/* TABLE */
/*********/

table {
  border-collapse: collapse;
}

thead tr {
  border-bottom: solid 2px var(--greyD9);
  text-align: left;
}

tbody tr {
  border-bottom: solid 1px var(--greyD9);
  font-size: var(--sm);
}

tbody tr:nth-child(2n) {
  background-color: var(--primary-50-Opa);
}

th,
td {
  padding-inline: 1rem;
}

td {
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
}

td span h4 {
  display: none;
}

td:first-child svg {
  display: none;
}

td a {
  display: flex;
}

td a > svg {
  margin-right: 0.3rem;

  transform: rotate(0deg);
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-property: transform;
}

td a:hover > svg {
  transform: rotate(360deg);
}

td label {
  display: flex;
}

.label-text h4 {
  display: none;
}

/**************/
/* ACCORDIONS */
/**************/

.accordion {
  width: 300px;
}
.accordion > div {
  width: 100%;
  border: 2px solid var(--greyD9);
  padding-inline: 10px;
  padding-block: 6px;
}

.accordion div:first-child {
  display: flex;
  align-items: center;
}

.accordion div:first-child > svg {
  margin-left: auto;
}

.accordion div:last-child {
  border-top: unset;
}

.accordion div:last-child.hide {
  display: none;
}

.accordion textarea {
  width: 100%;
  margin-block: 1rem;
  min-height: 100px;
}

/****************/
/* ACTIVITYLIST */
/****************/

.activity-list {
  padding-inline: 1rem;
  padding-block: 1rem;
  max-width: 200px;
  border: 2px solid var(--primary);
  border-radius: var(--borderRadius);
  background-color: var(--primary-50-Opa);
}

.activity-list > ul {
  margin-block: 0.5rem;
  padding-inline-start: 5px;
}

.activity-list > ul li::marker {
  content: '-';
}

.activity-list p {
  font-size: var(--sm);
}

.activity-list li {
  position: relative;
}

.activity-list svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

/***************/
/* MODAL STYLE */
/***************/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  min-height: 300px;
  font-family: var(--fontFamily);
  color: var(--blackText);
  border: none;
  overflow: hidden;
}

.modal::after {
  content: '';
  width: 200px;
  height: 200px;
  clip-path: circle(50% at 50% 50%);
  background-color: var(--primary-50-Opa);
  position: absolute;
  bottom: -100px;
  right: -90px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-head {
  background-color: var(--greyE6);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.modal-head > span {
  margin-left: auto;
  cursor: pointer;
  display: inherit;
}

.modal-body {
  padding: 1rem 2rem;
}

.modal-body > p {
  margin-bottom: 2rem;
  position: relative;
  font-size: var(--sm);
}

.modal-body > p::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.modal-body > form {
  width: 80%;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.modal-body > div:last-child {
  margin-top: 1rem;
}

/**********/
/* FOOTER */
/**********/

footer {
  background-color: var(--greyD9);
  padding-block: var(--paddingBlock);
  padding-inline: var(--paddingInline);
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

footer .col {
  display: flex;
  flex-direction: column;
}

footer h4 {
  padding-bottom: 1rem;
}

footer p,
footer a {
  font-size: var(--sm);
}

footer a {
  color: var(--primary);
}

footer a + a,
footer p + p {
  padding-top: 0.5rem;
}

/*************/
/* KEYFRAMES */
/*************/

@keyframes rightin {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 400px) {
  form {
    max-width: 100%;
  }

  table {
    width: 100%;
  }

  thead {
    display: none;
  }

  tbody tr {
    display: grid;
  }

  td:not(:first-child) {
    display: none;
  }

  td {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  td span {
    display: flex;
    flex-direction: column;
  }

  td span h4 {
    display: block;
  }

  td:first-child svg {
    display: block;
  }

  /* NEW TABLE */

  td label {
    margin-right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .label-text h4 {
    display: block;
  }

  input[name='box1']:checked ~ table tbody tr#id5 td:not(:first-child) {
    display: block;
  }
  input[name='box2']:checked ~ table tbody tr#id6 td:not(:first-child) {
    display: block;
  }
  input[name='box3']:checked ~ table tbody tr#id7 td:not(:first-child) {
    display: block;
  }
  input[name='box4']:checked ~ table tbody tr#id8 td:not(:first-child) {
    display: block;
  }

  .modal-body > form {
    width: 100%;
  }

  .modal::after {
    bottom: -130px;
    right: -110px;
  }

  footer {
    grid-template-columns: 1fr;
  }
}
